{
  "presets": [
    "razzle/babel" // NEEDED
  ],
  "plugins": [
    // additional babel plugins
    [
      "transform-semantic-ui-react-imports",
      {
        "importType": "commonjs"
      }
    ]
  ]
}
